
div.content {
    display:flex; 
    align-items:center;
    justify-content:center;
    margin:20px;
}

footer{
    padding-top: 50px;
}

.content-division{

}
.main {
    padding-top: -20px
}
div.content > div.img {
    background-position: center;
    height: 450px;
    width: 450px;
    overflow: hidden;
    float: right;
    margin:1em 1em;
    background-repeat:no-repeat;
}

div.content > div.paragraph > h2 {
    padding-bottom:20px;
}

div.content > div.paragraph {
    padding:20px 20px;
}

.carousel > div {
    display:flex;
    text-align: center;
    justify-content:center;
    flex-direction:column;
    width: 400px;
    margin: 0 auto;
}

h5 {
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.carousel {
    padding-left: 50px;
    width: 450px;
    overflow: hidden;
}

.carousel > img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

.school-paragraph-container{
    display: flex;
}
img.logo {
    width: 450px;
    min-width: 300px;
}

.button{
    width:16%;
    min-width:100px;
    text-decoration: none;
}

.slide{
    object-fit: cover;
    width: 100%;
}


.slide-content{
    display:flex;
    position:absolute;
    width: 100%;
}

.slide-img{
    padding: 40px;
}

.school-section{
    flex-direction: column;
    margin: 0px 100px 0px 100px;

}

.school-section > h2{
    padding-bottom: 20px;
}

.main-text{
    max-width: 650px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.main-paragraph{
    align-self: baseline;
    padding-top: 20px;
    padding-left: 15px;
}
@media (max-width:1690px) {

    .mobile > img
    {
        left:-40px;
    }
}

@media (max-width:1000px) {
    .mobile > img
    { 
        left:-40px;
    }

    .container {
        width:100%;
        padding:unset;

    }


    .school-section{
        margin:unset !important;
        width: 100%;
        box-shadow: unset;
        border-radius: unset;

    }

    div.content {
        margin:0px;
    }


}
@media (max-width:768px) {
     .main {
        flex-direction: column;
        text-align: center;
        padding-top: 0px

    }

    .logo{
        height: 200px !important;
        padding-top: 10px;
    }


    .school-section{
        flex-direction: column;
    }

    .ul-schools{
        text-align: left;
        width: 360px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .paragraph-schools{
        width: 100%;
        text-align: center;
        order: 2;
    }

    .carousel{
        order: 1;
        height: 245px;
        padding-left: 0px;
    }
    .carousel > div {
        width: 300px;
    }

    .school-paragraph-container{
        flex-direction: column;
    }
}
@media(max-width:400px){
    
}


 /* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 400px;
  padding-bottom: 40px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
    padding-bottom: 20px;
position: relative;
bottom: 25px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active{
    background-color: black;
}

/* Add a background color to the active dot/circle */
.active-dot, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {
    color: cornflowerblue;
    position: relative; 
}

a:not([href]):not([tabindex]):hover {
    color:white;
}