
footer {
    position: relative;
    margin: auto;
    /* background-color: gainsboro; */
    bottom: 0;
    width: 100%;
    padding-top:20px;
}

footer > p {
    position: absolute;
    text-align: center;
    left: 30%;
}

footer > div {
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    text-align: center;
    bottom: 1%;
}

.navigation {
    width: 100%;
    height: 100px;

}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    display: block;
    margin: 10px 10px;
    padding: 10px 20px;
    position: relative;
    color: black;
}

nav > ul > li > a:hover {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #154295;
    opacity: 0.3;
    transition: all 0.15s;
}

nav > ul > li > a:hover:before {
    height: 100%;
}

nav > ul > li > a.active:before {
    height: 100%;
}

nav > ul > li > a:hover ~ .active:before {
    height: 2px;
}

#menu-toggle {
    cursor: pointer;
    top: 30px;
    display: none;

}


h1.mobile {
    display: none
}

.nav-window {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    text-align: center;
}

.container.open {
    margin-top: 375px;
}

.nav-list {
    text-align: center;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 5px 10px lightgray;
    z-index:10;
}

    .nav-list > a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        text-align: center;
    }

    .nav-list > li {
        padding: 30px 30px;
        height: 80px;
        background: #f9f9f9;
        width: 100%;
    }

    .nav-list > li > a{

        background-color: #154295;
        width: 100%;
        display: block;
        height: 45px;
        line-height: 45px;
        box-shadow: 0px 2px 3px black;
        color: white;
    }

.button {
    background-color: #154295;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 0.35em 1.2em;
    border: 0px;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.1s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    display: block;
    box-shadow: 3px 3px black;
}

.container {
    width: 100%;
    max-width: unset
}
.button:hover, .button:visited, .button:link, .button:active
{
    text-decoration: none;
}

.button:hover {
        opacity: 0.6
        }
.icon {
    cursor: pointer;
    position: absolute;
    right: 32px;
    display: unset;
}

#zoom-close {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;
  opacity: 1;
}
#zoom-close:hover {
  opacity: 0.5;
}
#zoom-close:before, #zoom-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
#zoom-close:before {
  transform: rotate(45deg);
}
#zoom-close:after {
  transform: rotate(-45deg);
}

#upload-form-close {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;
  opacity: 1;
}
#upload-form-close:hover {
  opacity: 0.5;
}
#upload-form-close:before, #upload-form-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
#upload-form-close:before {
  transform: rotate(45deg);
}
#upload-form-close:after {
  transform: rotate(-45deg);
}

.media-remove-button {
  position: absolute;
  right: 0px;
  top: -3px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 10;

}
.media-remove-button:hover:before {
     color:white;
    -webkit-text-stroke: .8px black;
}
.media-remove-button:before {
  content: 'x';
  color: red;
  font-weight: 300;
  font-family: Arial, sans-serif;
  font-size: 34px;
  bottom: 10px;
  left: 8px;
  right: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  -webkit-text-stroke: .8px darkred;

}


#confirmation-dialog-container{
    display:none;
    position: fixed;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 11;
}

.confirmation-dialog{
    position: fixed;
    width: 30%;
    height: 20%;
    left: 0;
    right: 0;
    top: 40vh;
    margin: 0 auto;
    background-color: whitesmoke;
    z-index: 10;
    align-content: center;
    align-items: center;
    display:flex;
    flex-direction:column;
    border-radius: 5px;
}

.confirmation-dialog > h5{
    padding-top: 35px;
}

.confirmation-dialog-buttons{
    display:flex;
}

.confirmation-dialog-buttons > a{
    margin: 10px 10px;
}

#confirmation-info  {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 80px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible-content {
  padding: 10px 12px;
  width: 60%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 0 auto;
  margin-top: 128px;
  position: fixed;
  left: 0;
  right: 0;

}

.lds-ring {

  position: absolute;
  margin-top: 70px;
  margin-right: 43px;
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 5.5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #82cfff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width:769px){
    .nav-window{
       display:none!important;
    }
}
@media (max-width:768px) {
    .navigation {
        width: 100%;
        height: 60px;
        background-color: #f9f9f9;
    }

    .icon {
        display:block;
    }

    h1.header {
        display:none;
    }

    h1.mobile{
        display:flex;
        height 60px;
        align-content: center;
        align-items: center;
        justify-content: center;
        height:58px

    }
    .erasmus-logo{
        top: unset;
        position: unset;
        margin-left:unset;
        display:unset;
        max-height: 55px;
    }
    .logo-img{
        min-width: 55px;
        top: unset;
        position: unset;
        max-width: 55px;

    }
        .nav-window {
        width: 100%;
        height: unset;
        position: unset;
        display: flex;
        margin-top: -6px;
    }
    .circle {
        width: 40px;
        height: 40px;
        position: absolute;
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 0;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        z-index: 9;
        top: 9px;
    }

    .line {
        position: absolute;
        height: 7px;
        width: 97%;
        background: #404040;
        border-radius: 8px;
        transition: all ease-out 0.1s;
    }

    .top {
        top: 19%;
    }

    .middle {
        top: 48%;
    }

    .bottom {
        top: 76%;
    }

    .icon.close .top {
        transform: rotate(45deg);
        top: 48%;
    }

    .icon.close .middle, .icon.close .bottom {
        transform: rotate(-45deg);
        top: 48%;
    }

    nav {
        display: none;
    }
    
    .topnav.responsive {
            
    }

    #menu-toggle.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #menu-toggle.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #menu-toggle.responsive .dropdown {
        float: none;
    }

    #menu-toggle.responsive .dropdown-content {
        position: relative;
    }

    #menu-toggle.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    .nav-list {
       
    }
    .nav-list li:last-child {
        padding-bottom: 4em
    }
}
@media (max-width:450px) {
    .zoom-close {

      right: 5%;
      bottom: 32%;
      width: 34px;
      height: 34px;
      top: unset;
    }
}

@media (max-width:375px) {

}
    @media (max-width:330px) {
        .nav-window {
            width: 120vw;
        }

        .icon {
            width: 25px;
            height: 25px;
            left: 7px;
            top: 5px;
        }

        .line {
            position: absolute;
            height: 5px;
            width: 97%;
            background: #404040;
            border-radius: 8px;
            transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.15s;
        }

        .nav-list {
            right: 90vw;
        }
    }


