#work{
    justify-content: center;
    padding-top: 0px;
}

#edit-form{
    position: relative;
}
#edit-form > form{
    top: -90px;
}
ul.errors > li {
    list-style: none;
    background: red;
    margin: 0;
    padding: 0;

}

footer {
   bottom: -15vh;
    margin: unset;
}

.media-panel{
    bottom:25px;
}

#media-panel-title{
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

#media-tip{
    padding:unset;
    top: 70px;
}

.lds-ring {

    position: absolute;
    margin: auto;
    left: -46px;
    right: 0;
    width: 10px;
    bottom: 4px;
    z-index: 1;

}

@media (max-width:1000px) {
    footer{
        bottom: 0px;
        position: fixed;
    }

}

@media (max-width:768px) {
    .container{
        height: 800px;
    }

    .panel{
        height: 90%;
        top: 0%;
    }

}