body.modal-open {
    overflow: hidden;
}

div.school-space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    margin: 3em 8em;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    width:100%;
    top:-7%;

    flex-shrink:0;

}

.school-space > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 0.4;
}


.container{
    display:flex;
    height: 900px;
    align-items:center;
    justify-content:center;
    
}

footer{
    position: relative;
    margin: auto;
    width: 100%;
    padding-top:20px;
    bottom:-140px;
}

.panel {
    width: 80%;
    height: 110%;
    background-color: rgb(242,242,242);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position:relative;
    bottom:-6%;
}

.bio{
    position:relative;
    top:-8%;
    width:80%;
}
#description-area{
    max-width: 100%;
    overflow-wrap: break-word;
}

:root {
    --gutter: 20px;
}

.media-panel {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

#description-text{
    width:100%;
    height:102px;
    white-space: pre-line;
}

#description-input{
    width:100%;
    height:102px;
    display:none;
    resize:none;
    margin-top: 0;
    margin-bottom: 0.9rem;
}

.media-panel {
    width: 85%;
    background: rgb(252,252,252);
    position:relative;
    top: -5%;
    border-radius: 25px;
}
    .media-panel > * {
        grid-column: 2 / -2;
    }

    .media-panel > .full {
        grid-column: 1 / -1;
    }

.media-slider {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow-x: auto;
    scrollbar-color: lightgray white;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    padding-top: 10px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    justify-content: safe center;
    height: 160px;
    touch-action: pan-y;
}
.media-play-button{
    position: absolute;
    width: 80px;
}
.dropzone {
    text-align:center;
}
#zoom-media{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
}

#upload-form{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
    text-align:center;
}

#upload-form > form {
    cursor: pointer;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21vh;
    width: 60vw;
    height: 60vh;

}

#zoom-img{
    width:75%;
    right: 50%;
    transform: translateX(16.5%);
    max-height: 90%;
    object-fit: contain;
}

#zoom-pdf{
    width: 75% !important;
    transform: translateX(16.5%);
    max-height: 90%;
    object-fit: contain;
}

#zoom-pdf > iframe {
    width: 100% !important;
}
#zoom-video{
    width:75%;
    right: 50%;
    transform: translateX(16.5%);
    max-height: 90%;
    object-fit: contain;
}
.media-slider > div{
    object-fit:contain;
    overflow:hidden;
}
.works {
    position: relative;
    width: 98%;
    height: 300px;
    max-height: 100%;
    background-color: inherit;
    display: inline-block;
    overflow: auto;
    border-radius: 10px;
    top:-2%;
    overflow-x: hidden;
}

.work-panel {
    display: flex;
    min-width: 300px;
    width:85%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: inherit;
    border-radius:15px;
    position:relative;
    top:-3%
}

.work-cell-container{
    display:flex;
    width:100%;
    height: 100%;
    justify-content:center;
    align-content: center;
    align-items: center;
}
.work-cell-date{
    padding: 0 15px;
    flex-basis: 100%;
    text-align: center;
}

.work-cell-author{
    padding: 0 15px;
    flex-basis: 100%;
}
.single-media{
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 auto;

}

.pdf-container{
    height: 105px;
    text-align: center;

}

.media-slider > div, .item {
    scroll-snap-align: center;
    padding: calc(30px / 10 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:150px;
    position: relative;
}
.work-table {
    margin-left: auto;
    margin-right: auto;
    display:table;
    border-spacing: 25px 8px;
    border-collapse: separate;
    position:relative;
    width: 100%;
    
}

.button.delete{
    background-color:red;
}

.work-buttons{
    display:flex;
}

.work-cell{
    margin-top: 10px;
    background-color: #fdfdfe;
    height:130px;
    width:100%;
    border-radius: 10px;
    display:flex;
    align-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    box-shadow: 0px 1px 3px black;
}

.work-cell-text{
    flex-grow:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}

.work-cell-description{
    text-align:center;
}

.create-work-cell{
    margin-top: 10px;

    height:55px;
    width:100%;

    display:flex;
    align-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;

}

.new-work.button{
    width: 99%;
    height: 79%;
    line-height: 33px;
}
h4{
    display:inline-block;
}
#edit-button{
    float:right;
}

.custom-file{
    left:-10px;
}
.img-upload-button{
    float: right;
    height: 39px;

}

.work-cell-description > *{
   margin: 0px 10px;
   word-break: break-word;
}

.school {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    position: relative;
}

    .school > h2, h3 {
        margin: 5px;
        text-align: center;
    }

    .school > .button {
        margin-top: 3em;
        width: 16%;
        min-width: 90px;
    }

.media-panel > div > p{
    position:relative;
    top: 25px;
}

#media-label{
    overflow: hidden;
    text-align:left;
}

.flex{ display: flex;}
.hidden{ display: none; }


@media(max-width:1000px) {

    .panel{
        width:90%;
    }


}

@media (max-width:768px) {

    .container{
        padding: unset;
    }
    .panel{
        width: 107%;
        bottom: -9%;
        border-radius: 0px;
    }
    .media-play-button{
        display: none;
    }
    .school-space{
        border-radius: 0px !important;
    }
    .footer{
        padding-top: 1px !important;
    }
    .work-cell{
        height: 150px;
    }

    #zoom-pdf{
        width: 100% !important;
        transform: none;
    }
}

@media(max-width:450px) {
    .panel{
        width: 107%;

    }
}
