.container{
    flex-direction:column;
}

.panel{

    position: absolute;
    top: 32%;
    left: 10%;
    height: 75%;

}

.fade{

    z-index: 100;
}

footer{
        bottom: 0px;
        margin-top: 60px
    }

.container{
    height: 667px;
}

#work{
    height: 85%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    position:relative;
}

.media-panel {
    width: 100%;
    background: #5073B3;
    position: absolute;
    bottom: 90px;
    top: unset;
}

.media-panel > div > p {
    position: relative;
    padding-top: 35px;
    color: white;
}

#media-slider {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-auto-flow: column;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: auto;
    scrollbar-color: lightgray white;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.media-slider {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(5, calc(29% - var(--gutter) * 6));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: auto;
    scrollbar-color: lightgray white;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

#media-slider > div{
    object-fit:contain;
    overflow:hidden;
    height: 150px;
    width: 310px;
}

.media-slider > div{
    object-fit:contain;
    overflow:hidden;
    height: 150px;
    width: 310px;
}
#description > p {
    white-space: pre-line;
}
input#title{
    width:100%;
    text-align:center;
}

textarea#body{
    text-align:center;
    width:100%;
    resize:none;
    height:19vh;
}
#edit-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85%;
    width: 98%;
}

#edit-form > form{
    width: 100%;
    position:relative;
    bottom: 100px;
}

.selected-media{
    box-shadow: 0px 4px 10px darkturquoise;
    border-radius: 15px;
}
@media(max-width:1400px) {

    footer{
        margin-top: 70px
    }

    #media-slider {

        grid-template-columns: repeat(5, calc(50% - var(--gutter) * 6));

    }
}

@media(max-width:1000px) {


    .panel{
        width:100%;
        left: unset;
        top: 21.5%;
        border-radius: 0px;
        height: 75%;
    }
    .container{
        height: 695px;
    }
    footer{
        bottom: 0px;
        margin-top: 10px;
    }
}

@media (max-width:768px) {

    .panel{
        position:relative;
        height: 99%;
        top: -8.3%;
        flex-shrink:0;
    }

    .container{
        height: 900px;
    }
    footer{
        bottom: -26px;
        margin-bottom: 0px;

    }

}

@media(max-width:450px) {

}
