body.modal-open {
    overflow: hidden;
}

div.school-space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 3em 8em;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    width:100%;
    top:-7%;
    border-radius:20px;
    flex-shrink:0;

}

.cell-headers {
    padding-top: 10px !important;
}

.school-space > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 0.4;
}


.container{
    display:flex;
    height: 600px;
    align-items:center;
    justify-content:center;
    margin-bottom: 50px;
}

footer{
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 0px;

}

.panel {
    width: 80%;
    height: 0%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}

.bio{
    position:relative;
    top:-8%;
    width:80%;
}
#description-area{
    max-width: 100%;
    overflow-wrap: break-word;
    -webkit-line-clamp: N;
}

:root {
    --gutter: 20px;
}

.media-panel {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

#description-text{
    width:100%;
    height:102px;
    white-space: pre-line;
}

#description-input{
    width:100%;
    height:102px;
    display:none;
    resize:none;

}

.media-panel {
    width: 85%;
    background: #DBD0BC;

    position:relative;
    top: -5%;
}
    .media-panel > * {
        grid-column: 2 / -2;
    }

    .media-panel > .full {
        grid-column: 1 / -1;
    }

.media {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(5, calc(29% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;

    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}


#zoom-media{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
}

#zoom-img{
    width:75%;
    right: 50%;
    transform: translateX(16.5%);
    max-height: 90%;
    object-fit: contain;
}
.media > div{
    object-fit:contain;
    overflow:hidden;
}
.works {
    position: relative;
    width: 98%;
    height: 550px;
    max-height: 100%;
    background-color: whitesmoke;
    display: inline-block;
    overflow-x: hidden;
    border-radius: 10px;
    top:-2%;
}

.work-panel {
    display: flex;
    min-width: 300px;
    width:85%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius:15px;
    position:relative;
    top:-19%;
    box-shadow: 0px 1px 2px 0px black;

}

.media > div, .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    height:150px;
}
.work-table {
    margin-left: auto;
    margin-right: auto;
    display:table;
    border-spacing: 25px 8px;
    border-collapse: separate;
    position:relative;
    width: 100%;

}

.work-table:last-child {
  margin-bottom: 10px;
}

.work-cell{
    margin-top: 10px;
    background-color: ghostwhite;
    height:200px;
    width:100%;
    border-radius: 10px;
    display:flex;
    align-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    box-shadow: 0px 3px 5px 0px black
}

.cell-headers.upload{
    right: 30px
}
h4{
    display:inline-block;
}
#edit-button{
    float:right;
}

.custom-file{
    left:-10px;
}
.img-upload-button{
    float: right;
    height: 39px;

}

h6{
   margin: 0px 10px;
}
.school {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    position: relative;
}

    .school > h2, h3 {
        margin: 5px;
        text-align: center;
    }

    .school > .button {
        margin-top: 3em;
        width: 16%;
        min-width: 90px;
    }

.media-panel > div > p{
    position:relative;
    top: 25px;
}

#media-label{
    overflow: hidden;
}

.flex{ display: flex;}
.hidden{ display: none; }


@media(max-width:1680px) {
    .cell-headers{
        width: 200px;
    }
    .cell-headers.upload{
        right: -30px;
    }
}

@media(max-width:1000px) {

    .panel{
        width:100%;
    }

    .media{
        grid-template-columns: repeat(5, calc(50% - var(--gutter) * 2));
    }

    .container {
        padding-left: unset;
        padding-right: unset;
    }

    .works {
        height: 650px;
    }

    .work-panel{
        top: 40px;
    }

}

@media (max-width:768px) {

    .container{
        padding: unset;
    }
    .panel{
        width: 107%;
        top: 21%;
        border-radius: 0px;
        position:relative;
    }
    .panel-title{
        font-size: 2em;
    }

    .work-panel{
        border-radius: 0px;
        width: 100%;
    }
    .works {
        height: 82vh;
    }
    .school-space{
        border-radius: 0px !important;
    }
    .footer{
        padding-top: 1px !important;
    }

    .cell-headers{
        width: 200px;
    }

    .cell-headers.upload{
        right: -30px;
    }
}

@media(max-width:450px) {
    .panel{
        width: 107%;

    }
}


