body.modal-open {
    overflow: hidden;
}

div.school-space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 3em 8em;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    width:100%;
    top:-7%;
    border-radius:20px;
    flex-shrink:0;

}

.cell-headers {
    padding-top: 10px !important;
}

.school-space > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 0.4;
}


.container{
    display:flex;
    height: 600px;
    align-items:center;
    justify-content:center;

}
#main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 3%;;
}

footer{
   position: absolute;
 bottom: 0;
 width: 100%;
}

footer > div {
    position: absolute;
    bottom: unset;
}

.panel {
    width: 80%;
    height: 0%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}

.bio{
    position:relative;
    top:-8%;
    width:80%;
}
#description-area{
    max-width: 100%;
    overflow-wrap: break-word;
    -webkit-line-clamp: N;
}



#description-text{
    width:100%;
    height:102px;
    white-space: pre-line;
}

#description-input{
    width:100%;
    height:102px;
    display:none;
    resize:none;

}


#zoom-media{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
}

#zoom-img{
    width:75%;
    right: 50%;
    transform: translateX(16.5%);
    max-height: 90%;
    object-fit: contain;
}
.media > div{
    object-fit:contain;
    overflow:hidden;
}
.works {
    position: relative;
    width: 98%;
    height: 550px;
    max-height: 100%;
    background-color: white;
    display: inline-block;
    overflow-x: hidden;
    border-radius: 10px;
    top:-2%;
}

.work-panel {
    display: flex;
    min-width: 300px;
    width:85%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(250,250,250);
    border-radius:15px;
    position:relative;
    top:-19%;
    box-shadow: 0px 1px 2px 0px black;

}

.work-table {
    margin-left: auto;
    margin-right: auto;
    display:table;
    border-spacing: 25px 8px;
    border-collapse: separate;
    position:relative;
    width: 100%;

}

.work-table:last-child {
  margin-bottom: 10px;
}

h4{
    display:inline-block;
}
.work-table {
    margin-left: auto;
    margin-right: auto;
    display:table;
    border-spacing: 25px 8px;
    border-collapse: separate;
    position:relative;
    width: 100%;

}

.button.delete{
    background-color:red;
}

.work-buttons{
    display:flex;
}

.work-cell{
    margin-top: 10px;
    background-color: rgb(253,253,254);
    height:150px;
    width:100%;
    border-radius: 10px;
    display:flex;
    align-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    box-shadow: 0px 1px 3px black;
}

.work-cell-description > *{
   margin: 0px 10px;
   word-break: break-word;
}

.work-cell-text{
    flex-grow:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}

.work-cell-description{
    text-align:center;
    text-overflow: ellipsis;
    height: 60px;
    overflow: hidden;
}

.create-work-cell{
    margin-top: 10px;

    height:55px;
    width:100%;

    display:flex;
    align-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;

}

.new-work.button{
    width: 99%;
    height: 79%;
    line-height: 33px;
}

.work-cell-container{
    display:flex;
    width:100%;
    height: 100%;
    justify-content:center;
    align-content: center;
    align-items: center;
}
.work-cell-date{
    padding: 0 15px;
    flex-basis: 100%;
    text-align: center;
}

footer{
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    text-align: center;
    padding-top: unset;
}
.work-cell-author{
    padding: 0 15px;
    flex-basis: 102%;
    text-align: center;
}
.panel-title{
    padding-bottom: 12px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background-color: rgb(249,249,249);
    margin-bottom: 15px;
    border-radius: 19px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#edit-button{
    float:right;
}

.custom-file{
    left:-10px;
}
.img-upload-button{
    float: right;
    height: 39px;

}

h6{
   margin: 0px 10px;
}
.school {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    position: relative;
}

    .school > h2, h3 {
        margin: 5px;
        text-align: center;
    }

    .school > .button {
        margin-top: 3em;
        width: 16%;
        min-width: 90px;
    }

.media-panel > div > p{
    position:relative;
    top: 25px;
}

#media-label{
    overflow: hidden;
}

.flex{ display: flex;}
.hidden{ display: none; }


@media(max-width:1680px) {
    .cell-headers{
        width: 200px;
    }
    .cell-headers.upload{
        right: -30px;
    }
}

@media(max-width:1000px) {

    .panel{
        width:100%;
    }

    footer > div{
        bottom: -30px;
    }

    .container {
        padding-left: unset;
        padding-right: unset;
    }

    .works {
        height: 650px;
    }

    .work-panel{
        top: 40px;
    }
    .work-cell-description{
        text-overflow: ellipsis;
        height: 60px;
        overflow: hidden;
    }

}

@media (max-width:768px) {

    .container{
        padding: unset;
    }
    .panel{
        width: 107%;
        top: 21%;
        border-radius: 0px;
        position:relative;
    }
    .panel-title{
        font-size: 2em;
    }

    .work-table{
        border-spacing: 5px 8px;
    }
    .work-panel{
        border-radius: 0px;
        width: 100%;
        top: -20px;
        margin-top: unset;

    }
    .works {
        height: 700px;
    }
    #main-container{
        padding-bottom: 40%;
    }
    .school-space{
        border-radius: 0px !important;
    }
    footer{
        bottom: 0px;
        position: absolute;

    }
    footer > div{
        bottom: -50px;
    }
    .cell-headers{
        width: 200px;
    }

    .cell-headers.upload{
        right: -30px;
    }
    .work-cell{
        height: 200px;
    }

    .work-cell-description{
        height: 100px;
    }

}

@media(max-width:450px) {
    .panel{
        width: 107%;

    }
}


