.container{
    flex-direction:column;
}

.panel {
	position: absolute;
	height: 850px;
	top: 41%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 75%;
}

.fade{

    z-index: 100;
}

footer{
        bottom: -133px;
        margin-top: 60px;
}

.container{
    height: 667px;
}


#work{
    height: 85%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    position:relative;
}

.work-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.work-details > * {
    text-align:center;
    flex-basis: 100%;
}

#work > hr{
    border-top: 1px solid lightgray;
    width: 75%;
    margin-top: 0.5rem;
}

.media-panel {
    width: 75%;
    background: #fcfcfc;
    position: absolute;
    bottom: -33px;
    top: unset;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 8px;
}


#submit-button{
	color: white;
	text-decoration: none;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	width: 128px;
}

.media-tip{
    padding:unset;
    top: 25px !important;
}
#media-tip{
    top: 65px !important;

}
#description > p {
    white-space: pre-line;
    word-wrap: break-word;
    width: 75%;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
input#title{
    width:100%;
    text-align:center;
}

textarea#body{
    text-align:center;
    width:100%;
    resize:none;
    height:36.2vh;
}
#edit-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
}

#edit-form > form{
    width: 75%;
    position: absolute;
    top: 5px;
}

.selected-media{
    -webkit-filter: drop-shadow(5px 5px 8px darkturquoise);

}
@media(max-width:1400px) {

    footer{
        margin-top: 70px
    }
}

@media(max-width:1000px) {


    .panel{
        width:100%;
        left: unset;
        border-radius: 0px;

    }
    .container{
        height: 695px;
    }
    footer{
        bottom: 0px;
        margin-top: 10px;
    }
}

@media (max-width:768px) {

    .panel{
        position:relative;
        height: 99%;
        top: 1%;
        flex-shrink:0;
    }

    .container{
        height: 900px;
    }
    footer{
        bottom: -26px;
        margin-bottom: 0px;

    }

}

@media(max-width:450px) {

}

