<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/css/bootstrap4.3.1.min.css') }}">
    {% compress 'css' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/school-index.css') }}">
    {% endcompress %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Yes-U! - {{ title }}</title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src="{{ url_for('static', filename='resources/logo.png') }}" style="height:10%;width:10%;min-height:100px;min-width:100px">
        <img src="{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:20%;min-width:180px">

    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>

        <div class="circle icon" onclick="toggleNav()">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
        </div>

        <div class="nav-window" style="display: none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a class="active" href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        
        <div class="school-space">
            
            <img src="{{ url_for('static', filename='resources/norway.png') }} "/>
            <div class="school">
                <h2>
                    Sandnes videregående skole
                </h2>
                <h3>
                    Norway
                </h3>
                <a class="button" href="{{ url_for('school_norway') }}">Visit</a>
            </div>
            
        </div>
        <div class="school-space">
            <img src="{{ url_for('static', filename='resources/netherlands.jpg') }}">
            <div class="school">
                <h2>
                    Regionale Scholengemeenschap 't Rijks
                </h2>
                <h3>
                    The Netherlands
                </h3>
                <a class="button" href="{{ url_for('school_netherlands') }}">Visit</a>
            </div>
       
        </div>
        <div class="school-space">
            <img src="{{ url_for('static', filename='resources/greece.jpg') }}">
            <div class="school">
                <h2>
                    A’ Arsakeio Tositseio Lykeio Ekalis
                </h2>
                <h3>
                    Greece
                </h3>
                <a class="button" href="{{ url_for('school_greece') }}">Visit</a>
            </div>
        </div>
        <div class="school-space">
            <img src="{{ url_for('static', filename='resources/france.jpg') }}">
            <div class="school">
                <h2>
                    Lycee Vauban
                </h2>
                <h3>
                    France
                </h3>
                <a class="button" href="{{ url_for('school_france') }}">Visit</a>
            </div>
        </div>
        <div class="school-space">
            <img src="{{ url_for('static', filename='resources/italy.png') }}">
            <div class="school">
                <h2>
                    Liceo Scientifico Statale Galileo Galilei
                </h2>
                <h3>
                    Italy
                </h3>
                <a class="button" href="{{ url_for('school_italy') }}">Visit</a>
            </div>
        </div>
        <div class="school-space">
            <img src="{{ url_for('static', filename='resources/slovenia.jpg') }}">
            <div class="school">
                <h2>
                    Gimnazija Kran
                </h2>
                <h3>
                    Slovenia
                </h3>
                <a class="button" href="{{ url_for('school_slovenia') }}">Visit</a>
            </div>
        </div>
    </div>
    <footer>
        <div>
            {{ get_footer()|safe }}
        </div>

    </footer>

    {% compress 'js' %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    {% endcompress %}
</body>
</html>