<div class="content" style="flex-direction:column; display:none;">
    <h2>Our works</h2>
    <div class="slideshow-container">
         {% for work in works %}
          <div class="slide-container" style="position:absolute;width:100%;height:100%;">
            <div class="slide-content">
                <img class="slide-img" src="{{ url_for('static', filename='resources/norway.png') }}">
                <div class="slide-paragraph">
                    <h4 style="padding-top: 50px;">{{ work.title }}
                </h4>
                <div class="author">
                    <p>{{ get_author_from_id(work.author_id) }}</p>
                </div>
                <p style="margin-right: 80px;white-space: pre-line;">
                    {{ work.description }}
                </p>
                </div>
            </div>

          </div>

        {% endfor %}

      <a class="prev" style="left:0px" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>