<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/css/bootstrap4.3.1.min.css') }}">
    {% compress 'css' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/work-index.css') }}">
    {% endcompress %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Yes-U! - {{ title }} </title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src="{{ url_for('static', filename='resources/logo.png') }}" style="height:10%;width:10%;min-height:100px;min-width:100px">
        <img src="{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:20%;min-width:180px">

    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>

        <div class="circle icon" onclick="toggleNav()">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
        </div>
        <div class="nav-window" style="display: none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a class="active" href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="panel">
            <div class="work-panel">
                <h4 class="panel-title">
                    Our works
                </h4>
                <div class="works">

                    <div class="work-table">
                        {% for work in works %}
                        <div class="work-cell">

                            <div class="work-cell-container">
                                <h5 class="work-cell-author"><a href="{{ url_for('school_handler', school_id=work.author_id) }}" style="color: inherit;">{{ get_author_from_id(work.author_id) }}</a></h5>
                                <div class="work-cell-text">
                                    <h5 style="text-align:center;">{{ work.title|truncate(60) }}</h5>
                                    <div class="work-cell-description">
                                        <h6>{{ work.description|truncate(105) }}</h6>
                                    </div>
                                    <div class="work-buttons">
                                         <a class="button" style="position:relative;top:0%;height:30px;line-height:15px;margin: 10px 10px;" href="{{ url_for('user_work', work_id=work.id) }}">View</a>
                                        {% if is_school_owner %}
                                        <a class="button delete" style="position:relative;top:0%;height:30px;line-height:15px;margin: 10px 10px;">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <h5 class="work-cell-date"> {{ work.upload_date.strftime('%d/%m/%Y, %H:%M') }} </h5>

                            </div>

                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div>
            Made with ♥ by Giovanni Ramistella | Liceo Galileo Galilei, CT
        </div>

    </footer>

    {% compress 'js' %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/school_page.js') }}"></script>
    {% endcompress %}

</body>
</html>