<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/school-template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/work-template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new-work.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Yes-U! - New Work</title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src="{{ url_for('static', filename='resources/logo.png') }}" style="height:10%;width:10%;min-height:100px;min-width:100px">
        <img src="{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:20%;min-width:180px">

    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>

        <div class="circle icon" onclick="toggleNav()">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
        </div>
        <div class="nav-window" style="display: none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a class="active" href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">



        <div class="panel">


            <div id="work">

            <div id="edit-form" >
                 <form method="POST" style="width:97%">
                    <div class="form-field" id="form-title" style="padding-bottom:25px">{{ form.title.label }} {{ form.title }}
                      {% if form.title.errors %}
                        <ul class="errors">
                          {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div class="form-field" id="form-description">{{ form.body.label }} {{ form.body }}
                      {% if form.body.errors %}
                        <ul class="errors">
                          {% for error in form.body.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    {{ form.submit }} {{ form.csrf_token }}
                  </form>
            </div>
                <div class="hidden" id="zoom-media">
                <a id="zoom-close"></a>
                <img id="zoom-img" src="">
                <video width="310" id="zoom-video" controls>
                      <source src="" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
            </div>
                <div class="media-panel">

                <div style="display:inline-block;height:75px">

                <h4 id="media-panel-title">
                    All media files:
                </h4>
                    <p id="media-tip"></p>

                <a class="button" id="attach-button" style="color:white;text-decoration:none;position:absolute;top: 17px;" onclick="editMedia()">Attach files</a>
                <form id="upload-form" action="/work/upload" method="POST" enctype="multipart/form-data" style="display:flex; width:300px; float:right;top:-80%;position:relative;">

                    <div class="form-group">
                      <div class="custom-file">
                        <label class="custom-file-label" for="media" id="media-label">Select image...</label>
                          <input type="file" class="custom-file-input" name="media" id="media">
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary img-upload-button">Upload</button>

                </form>

                    </div>
                <div id="media-slider">

                </div>

            </div>
                <a class="button" id="submit-button" style="color:white;text-decoration:none;position:absolute;bottom:-40px;left:0;right:0;width:128px;" onclick="submitWork()">Submit work</a>
        </div>
    </div>
    <footer>
        <div>
            Made with ♥ by Giovanni Ramistella | Liceo Galileo Galilei, CT
        </div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    {% if is_school_owner %}
    <script src="{{ url_for('static', filename='js/your-page.js') }}"></script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/new_work.js') }}"></script>

</body>
</html>