<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="work_id" id="{{ work.id }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/css/bootstrap4.3.1.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/school-template.css') }}">
    {% compress 'css' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/work-template.css') }}">
    {% endcompress %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Yes-U! - {{ work.title }}</title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src="{{ url_for('static', filename='resources/logo.png') }}"style="height:10%;width:10%;min-height:100px;min-width:100px">
        <img src="{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:20%;min-width:180px">

    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>

        <div class="circle icon" onclick="toggleNav()">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
        </div>
        <div class="nav-window" style="display: none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a class="active" href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">



        <div class="panel">

            <div id="work" {% if is_owner %}
                        style="padding-top:20px;"
                            {% endif %}>
                <h4>{{ work.title }}</h4>
                <div class="work-details">
                    <h6><a href="{{ url_for('school_handler', school_id=work.author_id) }}" style="color: inherit;">{{ get_author_from_id(work.author_id) }}</a></h6>
                    <h6>{{ work.upload_date.strftime('%d/%m/%Y, %H:%M') }}</h6>
                </div>
                <hr>
                <div id="description">
                    <p>{{ work.description }}</p>
                </div>
                <div class="hidden" id="zoom-media">
                <a id="zoom-close"></a>
                <img id="zoom-img" src="">
                <video width="310" id="zoom-video" controls>
                      <source src="" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                <a id="zoom-pdf" href=""></a>
                {% if is_school_owner %}
                <a class="button delete" style="display:flex; width:133px;position:absolute;color:white;bottom:50px;left:0;right:0" onclick="">Delete Media</a>
                {% endif %}
            </div>
            <div class="media-panel">

                <div style="display:inline-block;height:70px">

                <h4>
                    Attached Media:
                </h4>
                    <p id="public-media-tip" class="media-tip" >{% if media_list|length > 0 %}
                    Click media to open
                    {% else %}
                    No media to show
                    {% endif %}</p>
                    </div>
                <div id="media-slider-public" class="media-slider">

                    {% for media in media_list %}
                    <div class="selectable" id="single-media-{{ media.id }}">

                        {% if media.type == 1 %}
                        <img class="single-media" src="{{ media.path[5:] }}" >
                        {% elif media.type == 2 %}
                        <img class="media-play-button" src="{{ url_for('static', filename='resources/play-button.png') }}" >
                        <video class="single-media" preload="metadata">
                          <source src="{{ media.path[5:] }}#t=0.1" type="video/mp4">
                          Your browser does not support HTML5 video.
                        </video>
                        {% elif media.type == 3 %}
                        <div class="pdf-container">
                            <img class="single-media" src="{{ url_for('static', filename='resources/pdf-placeholder-icon.png') }}" >
                            <p>{{ (media.path[26:])[:-4] }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>
            </div>
            {% if is_owner %}
            <div id="edit-form" style="display:none">
                 <form method="POST">
                    <div class="form-field" id="form-title">{{ form.title.label }} {{ form.title(maxlength=max_title) }}
                      {% if form.title.errors %}
                        <ul class="errors">
                          {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div class="form-field" id="form-description" style="height:200px">{{ form.body.label }} {{ form.body(maxlength=max_desc) }}
                      {% if form.body.errors %}
                        <ul class="errors">
                          {% for error in form.body.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </form>
                <div class="media-panel" style="margin-bottom: 30px; bottom: 60px;">

                <div style="display:inline-block;height:75px">

                <h4 id="media-panel-title" style="position:absolute;left:0;right:0">
                    Attached Media:
                </h4>
                    <p class="media-tip" id="media-tip"></p>
                    </div>

                <div id="media-slider" class="media-slider">

                </div>
            </div>
            </div>
            <a id="edit-button" class="button" style="position:relative;top:0%;color:white;" onclick="editWork()">Edit</a>
            {% endif %}


        </div>
    </div>
    <footer>
        <div>
            Made with ♥ by Giovanni Ramistella | Liceo Galileo Galilei, CT
        </div>

    </footer>

    {% compress 'js' %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/media.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/work.js') }}"></script>
    {% endcompress %}

</body>
</html>