<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/css/bootstrap4.3.1.min.css') }}">
    {% compress 'css' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    {% endcompress %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>Yes-U! - Home</title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src= "{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:22%;min-width:180px">
    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>
            <div class="circle icon" onclick="toggleNav()">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </div>
            <div class="nav-window" style="display:none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>
       
        <nav>
            <ul>
                <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="content main">
            <div class="logo img" style="background-image: url('{{ url_for('static', filename='resources/logo.png') }}');background-size:contain"></div>
            <div class="main-paragraph">
                <h2>
                    The project
                </h2>
                <p class="main-text">
                    This project aims to encourage young people to believe in themselves,
		            raise their voice, have faith in democratic values and engage in causes
                    bigger than themselves.
                    Thus they will apply the principles of active citizenship and contribute
                    to a renewal of the use of their democratic rights. <br> <br>
                    This is an effort that has to start with the students themselves: this is
                    our main motive in the YES-U! Project (Young Europeans Stand Up!). <br> <br>
                    Our objectives are to lead students to reflect
                    on the impact of indifference in contrast to dedication, to explore the boundaries
                    of their power over things, think critically and creatively about new ways
                    to face problems, promote their active participation as members of their respective societies.
                </p>
            </div>
        </div>
        <hr class="content-division">
        <div class="content school-section">
            <h2>
                    The schools
            </h2>
            <div class="school-paragraph-container">
                <div class="paragraph-schools">
                    <p>
                        The six partner schools are:
                        <ul class="ul-schools">
                            <li>Sandnes videregående skole
                            <li>Regionale Scholengemeenschap 't Rijks
                            <li>A’ Arsakeio Tositseio Lykeio Ekalis
                            <li>Lycee Vauban
                            <li>Liceo Scientifico Statale Galileo Galilei
                            <li>Gimnazija Kranj
                        </ul>
                        <a class="button" style="margin-bottom: 20px;text-decoration:none" href="{{ url_for('school_index') }}" >View Schools </a>

                </div>
                <div class="carousel">
                    <div>
                        <img class="slide" src= "{{ url_for('static', filename='resources/norway.png') }}" style="max-width: 450px; max-height: 250px; " />
                        <h5 class="subtitle" align="center"> Sandnes videregående skole <br /> Norway</h5>
                    </div>
                    <div>
                        <img class="slide" src= "{{ url_for('static', filename='resources/netherlands.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                        <h5 class="subtitle" align="center"> Regionale Scholengemeenschap 't Rijks <br /> The Netherlands</h5>
                    </div>
                    <div>
                        <img class="slide" src="{{ url_for('static', filename='resources/italy.png') }}" style="max-width: 450px; max-height: 300px;  " />
                        <h5 class="subtitle" align="center">Catania, Italy</h5>
                    </div>
                    <div>
                        <img class="slide" src="{{ url_for('static', filename='resources/france.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                        <h5 class="subtitle" align="center"> Lycee Vauban, France</h5>
                    </div>
                    <div>
                        <img class="slide" src=" {{ url_for('static', filename='resources/slovenia.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                        <h5 class="subtitle" align="center"> Gimnazija Kranj, Slovenia</h5>
                    </div>
                    <div>
                        <img class="slide" src="{{ url_for('static', filename='resources/greece.jpg') }}" style="max-width: 450px; max-height: 450px; " />
                        <h5 class="subtitle" align="center"> A’ Arsakeio Tositseio Lykeio Ekalis <br /> Greece</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer>

        <div>
           Made with ♥ by Giovanni Ramistella | Liceo Galileo Galilei, CT
        </div>

    </footer>

    {% compress 'js' %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}" ></script>
    {% endcompress %}
</body>
</html>