<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>Yes-U! - Home</title>
</head>
<body>
    <h1 class="header" style="padding-top:0.5em;text-align:center">
        <img src= "{{ url_for('static', filename='resources/erasmus-logo.png') }}" style="width:22%;min-width:180px">
    </h1>
    <div class="navigation">
        <h1 class="mobile">
            <img class="erasmus-logo" src="{{ url_for('static', filename='resources/erasmus-logo.png') }}">
            <img class="logo-img" src="{{ url_for('static', filename='resources/logo.png') }}">
        </h1>
            <div class="circle icon" onclick="toggleNav()">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </div>
            <div class="nav-window" style="display:none;">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" >Home</a></li>
                    <li><a href="{{ url_for('school_index') }}" >Schools</a></li>
                    <li><a href="{{ url_for('work_index') }}">Our Works</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                    <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                    {% endif %}

                </ul>
            </div>
       
        <nav>
            <ul>
                <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('school_index') }}">Schools </a></li>
                <li><a href="{{ url_for('work_index') }}">Our works</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}" >Sign in</a></li>
                {% else %}
                <li><a href="{{ url_for('user_page') }}">Your School</a></li>
                <li><a href="{{ url_for('logout') }}" >Sign out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="content main">
            <div class="img logo" style="background-image: url('{{ url_for('static', filename='resources/logo.png') }}');background-size:contain"></div>
            <div class="paragraph">
                <h2>
                    The project
                </h2>
                <p class="desktop-paragraph">
                    This project aims to encourage young people to believe in themselves, <br/>
		    raise their voice, have faith in democratic values and engage in causes <br/>
                    bigger than themselves. <br/>
                    Thus they will apply the principles of active citizenship and contribute <br/>
                    to a renewal of the use of their democratic rights. <br/>
                    This is an effort that has to start with the students themselves: this is <br/>
                    our main motive in the YES-U! Project (Young Europeans Stand Up!). <br/>
                    Our objectives are to lead students to reflect <br/>
                    on the impact of indifference in contrast to dedication, to explore the boundaries <br/>
                    of their power over things, think critically and creatively about new ways <br/>
                    to face problems, promote their active participation as members of their respective societies.
                </p>
                <p class="mobile-paragraph">
		    This project aims to encourage young people to believe in themselves, 
		    raise their voice, have faith in democratic values and engage in causes  
                    bigger than themselves. 
                    Thus they will apply the principles of active citizenship and contribute  
                    to a renewal of the use of their democratic rights.  
                    This is an effort that has to start with the students themselves: this is 
                    our main motive in the YES-U! Project (Young Europeans Stand Up!). 
                    Our objectives are to lead students to reflect 
                    on the impact of indifference in contrast to dedication, to explore the boundaries 
                    of their power over things, think critically and creatively about new ways 
                    to face problems, promote their active participation as members of their respective societies.
                </p>
            </div>
        </div>
        <div class="content school-section">
            <div class="paragraph">
                <h2>
                    The schools
                </h2>
                <p>
                    The six partner schools are:
                    <ul>
                        <li>Sandnes videregående skole
                        <li>Regionale Scholengemeenschap 't Rijks
                        <li>A’ Arsakeio Tositseio Lykeio Ekalis
                        <li>Lycee Vauban
                        <li>Liceo Scientifico Statale Galileo Galilei
                        <li>Gimnazija Kranj
                    </ul>
                    <a class="button" style="text-decoration:none" href="{{ url_for('school_index') }}" >View Schools </a>

            </div>
            <div class="carousel">
                <div>
                    <img class="slide" src= "{{ url_for('static', filename='resources/norway.png') }}" style="max-width: 450px; max-height: 250px; " />
                    <h5 class="subtitle" align="center"> Sandnes videregående skole <br /> Norway</h5>
                </div>
                <div>
                    <img class="slide" src= "{{ url_for('static', filename='resources/netherlands.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                    <h5 class="subtitle" align="center"> Regionale Scholengemeenschap 't Rijks <br /> The Netherlands</h5>
                </div>
                <div>
                    <img class="slide" src="{{ url_for('static', filename='resources/italy.png') }}" style="max-width: 450px; max-height: 300px;  " />
                    <h5 class="subtitle" align="center">Catania, Italy</h5>
                </div>
                <div>
                    <img class="slide" src="{{ url_for('static', filename='resources/france.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                    <h5 class="subtitle" align="center"> Lycee Vauban, France</h5>
                </div>
                <div>
                    <img class="slide" src=" {{ url_for('static', filename='resources/slovenia.jpg') }}" style="max-width: 450px; max-height: 450px;  " />
                    <h5 class="subtitle" align="center"> Gimnazija Kranj, Slovenia</h5>
                </div>
                <div>
                    <img class="slide" src="{{ url_for('static', filename='resources/greece.jpg') }}" style="max-width: 450px; max-height: 450px; " />
                    <h5 class="subtitle" align="center"> A’ Arsakeio Tositseio Lykeio Ekalis <br /> Greece</h5>
                </div>

            </div>
        </div>
        <div class="content" style="flex-direction:column; display:none;">
            <h2>Our works</h2>
            <div class="slideshow-container">
                 {% for work in works %}
                  <div class="slide-container" style="position:absolute;width:100%;height:100%;">
                    <div class="slide-content">
                        <img class="slide-img" src="{{ url_for('static', filename='resources/norway.png') }}">
                        <div class="slide-paragraph">
                            <h4 style="padding-top: 50px;">{{ work.title }}
                        </h4>
                        <div class="author">
                            <p>{{ get_author_from_id(work.author_id) }}</p>
                        </div>
                        <p style="margin-right: 80px;white-space: pre-line;">
                            {{ work.description }}
                        </p>
                        </div>
                    </div>

                  </div>

                {% endfor %}

              <a class="prev" style="left:0px" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>


            <div class="dot-container">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
    <footer>

        <div>
           Made with ♥ by Giovanni Ramistella | Liceo Galileo Galilei, CT
        </div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/navigation.js') }}" ></script>

</body>
</html>